= form_for(course) do |f|
  - if course.errors.any?
    #error_explanation
    %h2
      = pluralize(course.errors.count, "error")
    prohibited this course from being saved:
    %ul
      - course.errors.full_messages.each do |message|
        %li= message
  .field
    = f.label :title
    = f.text_field :title
  .field
    -Group.all.each do |group|
      =hidden_field_tag 'course[group_ids][]', nil
      =label_tag group.name, group.name, style: 'font-weight:bold'
      =check_box_tag 'course[group_ids][]', group.id, @course.group_ids.include?(group.id), id: group.name
      -User.where(group_id:group.id).each do |user|
        =hidden_field_tag 'course[user_ids][]', nil
        =label_tag user.email, user.email
        =check_box_tag 'course[user_ids][]', user.id, @course.user_ids.include?(user.id), id: user.email

      %br

  .actions
    = f.submit
