!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Courses
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p= link_to 'Main page', root_path


    - if current_user
      You are logged as:
      =link_to current_user.email, edit_user_registration_path
      |
      = link_to 'logout', destroy_user_session_path, method: 'delete'

    - else
      = link_to 'login', new_user_session_path
      |
      = link_to 'sign up', new_user_registration_path

    = yield
